<!DOCTYPE html>
<html>
<head>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <title>Basic Error Page</title>
</head>
<body>
    {{error}}
</body>
</html>