<!-- START SIGMA IMPORTS -->
<script src="{{ url_for('static', filename='sigma.min.js') }}"></script>
<script src="{{ url_for('static', filename='sigma.renderers.customShapes.min.js') }}"></script>
<script src="{{ url_for('static', filename='sigma.renderers.customEdgeShapes.min.js') }}"></script>
<script src="{{ url_for('static', filename='sigma.renderers.parallelEdges.min.js') }}"></script>
<script src="{{ url_for('static', filename='sigma.renderers.edgeLabels.min.js') }}"></script>
<script src="{{ url_for('static', filename='treeLayout.js') }}"></script>
<script src="{{ url_for('static', filename='graphUtil.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>


<!-- END SIGMA IMPORTS -->
<!DOCTYPE html>
<html>
<head>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <title>Basic sigma.js example</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="nav">
    <div class="burger">
        <div class="burger__patty"></div>
    </div>

    <ul class="nav__list">
        <li class="nav__item">
            <a href="#1" class="nav__link c-blue">Input</a>
        </li>
        <li class="nav__item">
            <a href="#2" class="nav__link c-blue">Tree</a>
        </li>

        <li class="nav__item">
            <a href="#3" class="nav__link c-blue">Graph</a>
        </li>
        <li class="nav__item">
            <a href="#4" class="nav__link c-blue">Both</a>
        </li>
    </ul>
</nav>

<section class="panel" id="1">
    <article class="panel__wrapper">
        <div class="panel__content">
            <div id="container">
                <form id="dasForm" action="/input?Tree=+ document.getElementById(" Tree
                ").value>
                Input String: <input class="dasInput" type="text" id="Tree" name="Tree" value="" size="50">
                <input type="submit" id="dasButton" value="Submit" onclick="fillOut()">
                </form>
                <div id="graph-container"></div>
            </div>
        </div>
    </article>
</section>

<section class="panel" id="2">
    <article class="panel__wrapper">
        <div class="panel__content">

            {% for tree in trees %}
                <div id="graph-container_tree_{{ loop.index }}" class="zoomable"
                     style="background-color:#ffffff;"><p>{{ tree.string }}</p></div>
            {% endfor %}

        </div>
    </article>
</section>

<section class="panel" id="3">
    <article class="panel__wrapper">
        <div class="panel__content">
            {% for graph in graphs %}
                <div id="graph-container_graph_{{ loop.index }}" class="zoomable"
                     style="background-color:#ffffff;"></div>
            {% endfor %}
        </div>
    </article>
</section>

<section class="panel" id="4">
    <article class="panel__wrapper">
        <div class="panel__content">
            {% for tree in trees %}
                <div id="graph-container_tree2_{{ loop.index }}" class="zoomable"
                     style="background-color:#ffffff;"></div>
            {% endfor %}
            <br />
            {% for graph in graphs %}
                <div id="graph-container_graph2_{{ loop.index }}" class="zoomable"
                     style="background-color:#ffffff;"></div>
            {% endfor %}
        </div>
    </article>
</section>

</body>

<style type="text/css">

	html, body, section{
		background-color: rgb(155, 197, 165);
	}

    #graph-container {
        top: 0;
        left: 0;
        right: 0;
        width: 800px;
		height: 600px;
		background-color:#ceffd2;
		border: 2px solid rgb(120, 180, 133);
		border-radius: 5px;
    }


	#dasForm{
		background-color:#ceffd2;
		padding: 10px;
		border: 2px solid rgb(120, 180, 133);
		border-radius: 5px;
	}

	.dasInput{
		background-color:#e1fff3;
		color: #27634b;
		padding: 5px 15px;
		border: 3px solid #59a184;
		border-radius: 5px;
	}

	#dasButton{
		background-color:#9cd4be;
		color: #27634b;
		padding: 5px 15px;
		border: 3px solid #59a184;
		border-radius: 5px;
	}

    .zoomable {
        display: inline-block;
        position: relative;
        border: 0;
        left: 100px;
        width: 200px;
        height: 200px;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
		transform: scale(1);
		background-color:#ceffd2;
		border: 2px solid rgb(120, 180, 133);
		border-radius: 5px;
    }

	.zoomable p{
		position: absolute;
		margin-top: -50px;
	}

    .zoomable:hover {
        box-shadow: 0px 0px 150px #858484;
        width: 200px;
        height: 200px;
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(2.0);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(2.0);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(2.0);
        transition: all 200ms ease-in;
        transform: scale(2.0);
    }

</style>

<script>

		sigma.canvas.edges.arc = function (edge, source, target, context, settings) {
			var prefix = settings('prefix') || '';
			context.strokeStyle = edge.color;
			context.lineWidth = 2;
			s_x = source[prefix + 'x']
			s_y = source[prefix + 'y']
	
			t_x = target[prefix + 'x']
			t_y = target[prefix + 'y']
	
			context.arc(s_x + 0.5 * (t_x - s_x), s_y, 0.5 * (s_x - t_x), Math.PI, 2 * Math.PI);
			context.stroke();
	
		};
	
		sigma.canvas.edges.labels.arc = function(edge, source, target, context, settings) {
			var fontSize,
				prefix = settings('prefix') || '',
				size = edge[prefix + size];
			
			if (size < settings('labelThreshold'))
				return;
	
			if (!edge.label || typeof edge.label !== 'string')
				return;
	
			fontSize = (settings('labelSize') === 'fixed') ?
				settings('defaultLabelSize') :
				settings('labelSizeRatio') * size;
	
			context.font = (settings('fontStyle') ? settings('fontStyle') + ' ' : '') +
				fontSize + 'px ' + settings('font');
			context.fillStyle = (settings('labelColor') === 'edge') ?
				(edge.color || settings('defaultEdgeColor')) :
				settings('defaultLabelColor');
	
			s_x = source[prefix + 'x']
			s_y = source[prefix + 'y']
	
			t_x = target[prefix + 'x']
			t_y = target[prefix + 'y']
	
			context.textAlign = 'center';
			context.textBaseline = 'alphabetic';
	
			context.save();
	
			context.translate(s_x + 0.5 * (t_x - s_x), s_y - 0.5 * (s_x - t_x));
			context.fillText(edge.label, 0, -2);
	
			context.restore();
	  };

    // add data to graphs
    {%  for tree in trees %}
        sigma_tree_{{ loop.index }} = new sigma({
            graph: {{tree|tojson}},
            renderer: {
                container: 'graph-container_tree_{{ loop.index }}',
                type: 'canvas'
            },
            settings: {
                maxEdgeSize: 2,
                maxNodeSize: 10,
                sideMargin: 0.25,
                mouseEnabled: false
            }
        });

        sigma_tree2_{{ loop.index }} = new sigma({
            graph: {{tree|tojson}},
            renderer: {
                container: 'graph-container_tree2_{{ loop.index }}',
                type: 'canvas'
            },
            settings: {
                maxEdgeSize: 2,
                maxNodeSize: 10,
                sideMargin: 0.25,
                mouseEnabled: false
            }
        });
    {% endfor %}

    {%  for graph in graphs %}
        sigma_graph_{{ loop.index }} = new sigma({
            graph: {{graph|tojson}},
            renderer: {
                container: 'graph-container_graph_{{ loop.index }}',
                type: 'canvas'
            },
            settings: {
                maxEdgeSize: 2,
                maxNodeSize: 5,
                sideMargin: 0.25,
                mouseEnabled: false
            }
        });

        sigma_graph2_{{ loop.index }} = new sigma({
            graph: {{graph|tojson}},
            renderer: {
                container: 'graph-container_graph2_{{ loop.index }}',
                type: 'canvas'
            },
            settings: {
                maxEdgeSize: 2,
                maxNodeSize: 5,
                sideMargin: 0.25,
                mouseEnabled: false
            }
        });
    {% endfor %}


    sigma.canvas.labels.def = function (node, context, settings) {
        var fontSize,
            prefix = settings('prefix') || '',
            size = node[prefix + size];

        if (size < settings('labelThreshold'))
            return;

        if (!node.label || typeof node.label !== 'string')
            return;

        fontSize = (settings('labelSize') === 'fixed') ?
            settings('defaultLabelSize') :
            settings('labelSizeRatio') * size;

        context.font = (settings('fontStyle') ? settings('fontStyle') + ' ' : '') +
            fontSize + 'px ' + settings('font');
        context.fillStyle = (settings('labelColor') === 'node') ?
            (node.color || settings('defaultNodeColor')) :
            settings('defaultLabelColor');

        context.fillText(
            node.label,
            Math.round(node[prefix + 'x'] - 4),
            Math.round(node[prefix + 'y'] + fontSize / 3)
        );
    };

    sigma.canvas.edges.t = function (edge, source, target, context, settings) {
        var prefix = settings('prefix') || '';
        context.strokeStyle = edge.color;
        context.lineWidth = 2;
        context.beginPath();
        context.moveTo(
            source[prefix + 'x'],
            source[prefix + 'y']
        );
        context.bezierCurveTo(source[prefix + 'x'] + 200, source[prefix + 'y'],
            target[prefix + 'x'] + 200, target[prefix + 'y'],
            target[prefix + 'x'], target[prefix + 'y']);
        context.stroke();

    };


    // ------------------ form method ----------------
    function fillOut() {
        var tree = document.getElementById("Tree").value;
        if (tree.length === 0 && !tree) {
            document.getElementById("Tree").value = graphToString(s.graph).join(" ");
        }
    }

    var s = new sigma({
        renderer:
            {
                container: 'graph-container',
                type: 'canvas'
            },
            settings: {
                maxEdgeSize: 2,
                maxNodeSize: 10,
                sideMargin: 0.25,
            }

    });

    s.bind("clickNode", function (e) {
        toggleNode(e.data.node, s, s.graph);
        setInputString(graphToString(s.graph).join(" "))
    });


    function setInputString(value) {
        var tree = document.getElementById("Tree");
        tree.value = value;
    }

    function getUrlParams() {
        var url = window.location.search;
        var params = new URLSearchParams(url);
        var treeParam = params.get('Tree');
        if (treeParam != null) {
            return treeParam;
        }
        return null;
    }

    function init() {
        param = getUrlParams();
        if (param != null) {
            buildGraphFromString(param, s.graph, s);
            setInputString(graphToString(s.graph).join(" "))

        } else {
            buildGraphFromString("A---", s.graph, s);
            setInputString(graphToString(s.graph).join(" "))
        }
    }

    init();

    // ---------------------------- init
    var menu = document.querySelector('.nav__list');
    var burger = document.querySelector('.burger');
    var doc = $(document);
    var l = $('.scrolly');
    var panel = $('.panel');
    var vh = $(window).height();

    var openMenu = function () {
        burger.classList.toggle('burger--active');
        menu.classList.toggle('nav__list--active');
    };

    // reveal content of first panel by default
    panel.eq(0).find('.panel__content').addClass('panel__content--active');

    var scrollFx = function () {
        var ds = doc.scrollTop();
        var of = vh / 4;

        // if the panel is in the viewport, reveal the content, if not, hide it.
        for (var i = 0; i < panel.length; i++) {
            if (panel.eq(i).offset().top < ds + of) {
                panel
                    .eq(i)
                    .find('.panel__content')
                    .addClass('panel__content--active');
            } else {
                panel
                    .eq(i)
                    .find('.panel__content')
                    .removeClass('panel__content--active')
            }
        }
    };

    var scrolly = function (e) {
        e.preventDefault();
        var target = this.hash;
        var $target = $(target);

        $('html, body').stop().animate({
            'scrollTop': $target.offset().top
        }, 300, 'swing', function () {
            window.location.hash = target;
        });
    }

    var init = function () {
        burger.addEventListener('click', openMenu, false);
        window.addEventListener('scroll', scrollFx, false);
        window.addEventListener('load', scrollFx, false);
        $('a[href^="#"]').on('click', scrolly);
    };

    doc.on('ready', init);
</script>