<!-- START SIGMA IMPORTS -->
<script src="{{ url_for('static', filename='sigma.min.js') }}"></script>
<script src="{{ url_for('static', filename='sigma.renderers.customShapes.min.js') }}"></script>
<script src="{{ url_for('static', filename='sigma.renderers.customEdgeShapes.min.js') }}"></script>
<script src="{{ url_for('static', filename='sigma.renderers.parallelEdges.min.js') }}"></script>
<script src="{{ url_for('static', filename='sigma.renderers.edgeLabels.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>

<!-- END SIGMA IMPORTS -->
<!DOCTYPE html>
<html>
<body>
	<div id='table' class='table'></div>
</body>
<style>
	div.label {
		width: 250px;
	}

	div.graph {
		width: 250px;
		height: 250px;
	}

	div.table
    {
        display: table;
        width:auto;
        border-spacing:5px;
    }

    div.row
    {
       display:table-row;
       width:auto;
    }

    div.cell
    {
        float:left;
        display:table-cell;
        width:250px;
    }
</style>
<script>
    sigma.canvas.edges.arc = function (edge, source, target, context, settings) {
        var prefix = settings('prefix') || '';
        context.strokeStyle = edge.color;
        context.lineWidth = 2;
		s_x = source[prefix + 'x']
		s_y = source[prefix + 'y']

		t_x = target[prefix + 'x']
		t_y = target[prefix + 'y']

		context.arc(s_x + 0.5 * (t_x - s_x), s_y, 0.5 * (s_x - t_x), Math.PI, 2 * Math.PI);
        context.stroke();

    };

	sigma.canvas.edges.labels.arc = function(edge, source, target, context, settings) {
		var fontSize,
			prefix = settings('prefix') || '',
			size = edge[prefix + size];
		
		if (size < settings('labelThreshold'))
			return;

		if (!edge.label || typeof edge.label !== 'string')
			return;

		fontSize = (settings('labelSize') === 'fixed') ?
			settings('defaultLabelSize') :
			settings('labelSizeRatio') * size;

		context.font = (settings('fontStyle') ? settings('fontStyle') + ' ' : '') +
			fontSize + 'px ' + settings('font');
		context.fillStyle = (settings('labelColor') === 'edge') ?
			(edge.color || settings('defaultEdgeColor')) :
			settings('defaultLabelColor');

		s_x = source[prefix + 'x']
		s_y = source[prefix + 'y']

		t_x = target[prefix + 'x']
		t_y = target[prefix + 'y']

		context.textAlign = 'center';
		context.textBaseline = 'alphabetic';

		context.save();

		context.translate(s_x + 0.5 * (t_x - s_x), s_y - 0.5 * (s_x - t_x));
		context.fillText(edge.label, 0, -2);

		context.restore();
  };

	var i = 0;
	{% for row in strings %}
		var row = document.createElement("div");
		row.className = 'row';
		{% for string in row %}
			var cell = document.createElement("div");
			cell.className = 'cell';
			row.appendChild(cell);

			var graph = document.createElement("div");
			graph.id = 'graph-container'+i;
			graph.className = 'graph';
			cell.appendChild(graph);

			var text = document.createElement("div");
			text.className = 'label';
			text.innerHTML = {{string|tojson}};
			text.align = 'center';
			cell.appendChild(text);
			i++;
		{% endfor %}
		document.getElementById('table').appendChild(row);
	{% endfor %}

	i = 0;
	{% for row in graphs %}
		{% for graph in row %}
			s = new sigma({
				graph: {{graph|tojson}},
				renderer: {
					container: 'graph-container'+i,
					type: 'canvas'},
				settings: {
					maxEdgeSize: 2,
					drawLabels: true,
					maxNodeSize: 5,
					sideMargin: 0.25,
					mouseEnabled: false
				}	
			});
			i++;
		{% endfor %}
	{% endfor %}

</script>