<!-- START SIGMA IMPORTS -->
<script src="{{ url_for('static', filename='sigma.min.js') }}"></script>
<script src="{{ url_for('static', filename='sigma.renderers.customShapes.min.js') }}"></script>
<script src="{{ url_for('static', filename='sigma.renderers.customEdgeShapes.min.js') }}"></script>
<script src="{{ url_for('static', filename='sigma.renderers.parallelEdges.min.js') }}"></script>
<script src="{{ url_for('static', filename='sigma.renderers.edgeLabels.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>

<!-- END SIGMA IMPORTS -->
<!DOCTYPE html>
<html>
<body>
	<div id='table' class='table'></div>
</body>
<style>
	div.label {
		width: 250px;
	}

	div.graph {
		width: 250px;
		height: 250px;
	}

	div.table
    {
        display: table;
        width:auto;
        border-spacing:5px;
    }

    div.row
    {
       display:table-row;
       width:auto;
    }

    div.cell
    {
        float:left;
        display:table-cell;
        width:250px;
    }
</style>
<script>

	
sigma.canvas.labels.def = function (node, context, settings) {
        var fontSize,
            prefix = settings('prefix') || '',
            size = node[prefix + size];

        if (size < settings('labelThreshold'))
            return;

        if (!node.label || typeof node.label !== 'string')
            return;

        fontSize = (settings('labelSize') === 'fixed') ?
            settings('defaultLabelSize') :
            settings('labelSizeRatio') * size;

        context.font = (settings('fontStyle') ? settings('fontStyle') + ' ' : '') +
            fontSize + 'px ' + settings('font');
        context.fillStyle = (settings('labelColor') === 'node') ?
            (node.color || settings('defaultNodeColor')) :
            settings('defaultLabelColor');

        context.fillText(
            node.label,
            Math.round(node[prefix + 'x'] - 4),
            Math.round(node[prefix + 'y'] + fontSize / 3)
        );
    };

    sigma.canvas.edges.t = function (edge, source, target, context, settings) {
        var prefix = settings('prefix') || '';
        context.strokeStyle = edge.color;
        context.lineWidth = 2;
        context.beginPath();
        context.moveTo(
            source[prefix + 'x'],
            source[prefix + 'y']
        );
        context.bezierCurveTo(source[prefix + 'x'] + 200, source[prefix + 'y'],
            target[prefix + 'x'] + 200, target[prefix + 'y'],
            target[prefix + 'x'], target[prefix + 'y']);
        context.stroke();

    };

	var i = 0;
	{% for row in strings %}
		var row = document.createElement("div");
		row.className = 'row';
		{% for string in row %}
			var cell = document.createElement("div");
			cell.className = 'cell';
			row.appendChild(cell);

			var graph = document.createElement("div");
			graph.id = 'graph-container'+i;
			graph.className = 'graph';
			cell.appendChild(graph);

			var text = document.createElement("div");
			text.className = 'label';
			text.innerHTML = {{string|tojson}};
			text.align = 'center';
			cell.appendChild(text);
			i++;
		{% endfor %}
		document.getElementById('table').appendChild(row);
	{% endfor %}

	i = 0;
	{% for row in graphs %}
		{% for graph in row %}
			s = new sigma({
				graph: {{graph|tojson}},
				renderer: {
					container: 'graph-container'+i,
					type: 'canvas'},
				settings: {
					maxEdgeSize: 2,
					maxNodeSize: 10,
					sideMargin: 0.25,
					mouseEnabled: false
				}	
			});
			i++;
		{% endfor %}
	{% endfor %}

</script>